In [12]:
import numpy as np
import pandas as pd

In [13]:
df = pd.read_csv('Energy.csv')
df.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0     Afghanistan   3.210000e+08                      10.0    78.669280
1         Albania   1.020000e+08                      35.0   100.000000
2         Algeria   1.959000e+09                      51.0     0.551010
3  American Samoa            NaN                       NaN     0.641026
4         Andorra   9.000000e+06                     121.0    88.695650

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   227 non-null    object
 1   Energy Supply             222 non-null    float64
 2   Energy Supply per Capita  222 non-null    float64
 3   % Renewable               227 non-null    float64
dtypes: float64(3), object(1)
memory usage: 7.2+ KB

Haga una nueva columna que calcule la población de cada país a partir de la división entre las columnas 'Energy Supply' y 'Energy Supply per Capita'.

In [15]:
df['Population'] = df['Energy Supply'] / df['Energy Supply per Capita']
df.head()

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Population
0,Afghanistan,3.210000e+08,10.0,78.669280,3.210000e+07
1,Albania,1.020000e+08,35.0,100.000000,2.914286e+06
2,Algeria,1.959000e+09,51.0,0.551010,3.841176e+07
3,American Samoa,NaN,NaN,0.641026,NaN
4,Andorra,9.000000e+06,121.0,88.695650,7.438017e+04

Cree un nuevo dataframa que contenga solo a los países con poblaciones superiores a un millón de habitantes. Indique cuantos registros contiene el nuevo DataFrame.

In [16]:
df_filtered = df[df['Population'] > 1000000]
df_filtered.head()

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Population
0,Afghanistan,3.210000e+08,10.0,78.66928,3.210000e+07
1,Albania,1.020000e+08,35.0,100.00000,2.914286e+06
2,Algeria,1.959000e+09,51.0,0.55101,3.841176e+07
5,Angola,6.420000e+08,27.0,70.90909,2.377778e+07
8,Argentina,3.378000e+09,79.0,24.06452,4.275949e+07

In [17]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, 0 to 226
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   157 non-null    object
 1   Energy Supply             157 non-null    float64
 2   Energy Supply per Capita  157 non-null    float64
 3   % Renewable               157 non-null    float64
 4   Population                157 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.4+ KB

Ordene el DataFrame por la variable '% Renewable' de manera descendente y seleccione los 10 primeros. ¿Hay algún país latinoamericano en este listado? ¿Hay algún país europeo?

In [18]:
top_10_renewable = df.sort_values(by='% Renewable', ascending=False).head(10)
print("Los 10 países con mayor porcentaje de energía renovable son:")
top_10_renewable

Los 10 países con mayor porcentaje de energía renovable son:

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Population
23,Bhutan,6.300000e+07,83.0,100.00000,7.590361e+05
116,Lesotho,4.800000e+07,23.0,100.00000,2.086957e+06
1,Albania,1.020000e+08,35.0,100.00000,2.914286e+06
157,Paraguay,2.280000e+08,35.0,99.99503,6.514286e+06
95,Iceland,3.120000e+08,957.0,99.97240,3.260188e+05
68,Ethiopia,1.394000e+09,15.0,99.90825,9.293333e+07
199,Tajikistan,1.060000e+08,13.0,99.74292,8.153846e+06
225,Zambia,4.000000e+08,26.0,99.71467,1.538462e+07
142,Nepal,4.580000e+08,16.0,99.68051,2.862500e+07
57,Democratic Republic of the Congo,8.880000e+08,12.0,99.59430,7.400000e+07

In [19]:
latin = ['Argentina', 'Bolivia', 'Brasil', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Ecuador', 'El Salvador', 'Guatemala', 'Honduras', 'México', 'Nicaragua', 'Panamá', 'Paraguay', 'Perú', 'Puerto Rico', 'República Dominicana', 'Uruguay', 'Venezuela']
european = ['Albania', 'Alemania', 'Andorra', 'Armenia', 'Austria', 'Azerbaiyán', 'Bélgica', 'Bielorrusia', 'Bosnia y Herzegovina', 'Bulgaria', 'Chipre', 'Croacia', 'Dinamarca', 'Eslovaquia', 'Eslovenia', 'España', 'Estonia', 'Finlandia', 'Francia', 'Georgia', 'Grecia', 'Hungría', 'Irlanda', 'Islandia', 'Italia', 'Kazajistán', 'Letonia', 'Liechtenstein', 'Lituania', 'Luxemburgo', 'Macedonia del Norte', 'Malta', 'Moldavia', 'Mónaco', 'Montenegro', 'Noruega', 'Países Bajos', 'Polonia', 'Portugal', 'Reino Unido', 'República Checa', 'Rumania', 'Rusia', 'San Marino', 'Serbia', 'Suecia', 'Suiza', 'Turquía', 'Ucrania', 'Vaticano']

es_latino = any(country in latin for country in top_10_renewable['Country'])

es_europeo = any(country in european for country in top_10_renewable['Country'])

print(f"¿Hay algún país latinoamericano en el listado? {'Sí' if es_latino else 'No'}")
print(f"¿Hay algún país europeo en el listado? {'Sí' if es_europeo else 'No'}")

¿Hay algún país latinoamericano en el listado? Sí
¿Hay algún país europeo en el listado? Sí

Ahora indique cuales son los 10 países con poblaciones superiores a 50 millones de personas que tienen en mayor porcentaje de energías renovables. Indique cuantos países latinoamericanos hay en este listado.

In [20]:
df_large_pop = df[df['Population'] > 50e6]
df_sorted = df_large_pop.sort_values(by='% Renewable', ascending=False)
top_10 = df_sorted.head(10)

top_10

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Population
68,Ethiopia,1.394000e+09,15.0,99.90825,9.293333e+07
57,Democratic Republic of the Congo,8.880000e+08,12.0,99.59430,7.400000e+07
139,Myanmar,6.820000e+08,13.0,72.04213,5.246154e+07
28,Brazil,1.214900e+10,59.0,69.64803,2.059153e+08
222,Viet Nam,2.554000e+09,28.0,45.32152,9.121429e+07
103,Italy,6.530000e+09,109.0,33.66723,5.990826e+07
153,Pakistan,2.868000e+09,16.0,31.87684,1.792500e+08
207,Turkey,4.897000e+09,64.0,28.53669,7.651562e+07
159,Philippines,1.781000e+09,18.0,26.17264,9.894444e+07
42,China,1.271910e+11,93.0,19.75491,1.367645e+09

In [21]:
latin = ['Argentina', 'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Ecuador', 'El Salvador', 'Guatemala', 'Honduras', 'México', 'Nicaragua', 'Panamá', 'Paraguay', 'Perú', 'Puerto Rico', 'República Dominicana', 'Uruguay', 'Venezuela']
european = ['Albania', 'Alemania', 'Andorra', 'Armenia', 'Austria', 'Azerbaiyán', 'Bélgica', 'Bielorrusia', 'Bosnia y Herzegovina', 'Bulgaria', 'Chipre', 'Croacia', 'Dinamarca', 'Eslovaquia', 'Eslovenia', 'España', 'Estonia', 'Finlandia', 'Francia', 'Georgia', 'Grecia', 'Hungría', 'Irlanda', 'Islandia', 'Italia', 'Kazajistán', 'Letonia', 'Liechtenstein', 'Lituania', 'Luxemburgo', 'Macedonia del Norte', 'Malta', 'Moldavia', 'Mónaco', 'Montenegro', 'Noruega', 'Países Bajos', 'Polonia', 'Portugal', 'Reino Unido', 'República Checa', 'Rumania', 'Rusia', 'San Marino', 'Serbia', 'Suecia', 'Suiza', 'Turquía', 'Ucrania', 'Vaticano']

es_latino = any(country in latin for country in top_10['Country'])

es_europeo = any(country in european for country in top_10['Country'])

print(f"¿Hay algún país latinoamericano en el listado? {'Sí' if es_latino else 'No'}")
print(f"¿Hay algún país europeo en el listado? {'Sí' if es_europeo else 'No'}")

¿Hay algún país latinoamericano en el listado? Sí
¿Hay algún país europeo en el listado? No